/* setting variables */
:root {
    --main-background-color: #6748be;
    --box-color: #020202;
    --secondary-colour: #2937b8;
    --font-color: #ffffff;
    --border-style: groove;
    --border-radius: 10px;
  }

  /* scrolling transition when clicking links */
  html {
    scroll-behavior: smooth;
  }

  /* backing colour and font styling */
  body {
    background-color: var(--main-background-color);
    color: var(--font-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  /* start of nav bar styling */
  header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  nav {
    background-color: var(--secondary-colour);
    border-radius: 0 0 10px 10px;
    border: var(--font-color);
    border-style: var(--border-style);
  }
  
  nav a {
    color: var(--font-color);
    text-decoration: none;
  }

  nav a:hover {
    color: var(--main-background-color);
  }
  /* end of nav bar styling */

  /* un ordered list styling (navbar and contact me) */
  ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: auto;
  }
  
  ul li {
    padding: 10px;
  }

  /* header styling */
  h1 {
    padding-top: 100px;
    margin-bottom: 50px;
  }
  
  h2 {
    text-align: center;
  }

  /* main image styling */
  #profile-image {
    max-width: 200px;
    min-width: 150px;
    height: auto;
    border-radius: var(--border-radius);
    border: var(--secondary-colour);
    border-style: var(--border-style);
    margin: 0 auto;
  }

  /* start of styling for about me, my work and contact me */
  #about-me {
    text-align: left;
  }
  
  .content-boxes {
    background-color: var(--box-color);
    padding: 50px;
    border: var(--secondary-colour);
    border-style: var(--border-style);
    border-radius: var(--border-radius);
    max-width: 900px;
    margin: 50px auto;
  }
  
  #my-work {
    display: inline-block;
  }
  
  #showpiece {
    margin: 0 auto;
    min-width: 50%;
  }
  
  #my-work img {
    margin: 15px;
    border-radius: var(--border-radius);
    border: var(--secondary-colour);
    border-style: var(--border-style);
    max-width: 90%;
  }
